{% extends parent_template %}
# Horizon
{% block custom_setup %}
COPY se-ospd-cacert.pem /etc/pki/ca-trust/source/anchors/se-ospd-cacert.pem
RUN update-ca-trust extract
RUN chown -R 42420:42420 /var/run/httpd/ /run/httpd/ 
USER 42420
{% endblock %}
